<script setup lang="ts">
import RouterToView from "./RouterToView.vue";
</script>

<template>
  <RouterToView></RouterToView>
  <v-container>
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>เช็คบิล</v-container>
        <v-divider></v-divider>
        <v-container>
          <table>
            <tr>
              <th>รายการอาหาร</th>
              <th>จำนวน</th>
              <th>ราคา</th>
            </tr>

            <tr>
              <td>1.ผัดไทย</td>
              <td>x1</td>
              <td>50.00</td>
            </tr>

            <tr>
              <td>2.ข้าวผัด</td>
              <td>x1</td>
              <td>50.00</td>
            </tr>
            <tr>
              <td>3.ข้าวหมูทอด</td>
              <td>x1</td>
              <td>50.00</td>
            </tr>
            <tr>
              <td>4.ข้าวมันไก่</td>
              <td>x2</td>
              <td>100.00</td>
            </tr>
            <tr>
              <td>ยอดสุทธิ</td>
            </tr>
          </table>
        </v-container>
        <v-spacer></v-spacer>
        <div>
          <v-row justify="space-around">
            <v-col cols="auto">
              <v-dialog transition="dialog-bottom-transition" width="auto">
                <template v-slot:activator="{ props }">
                  <v-btn color="blue" v-bind="props">พิมพ์ใบเสร็จ</v-btn>
                </template>
                <template v-slot:default="{ isActive }">
                  <v-card>
                    <v-toolbar color="blue" title="พิมพ์ใบเสร็จ"></v-toolbar>
                    <v-card-text>
                      <div class="text-h4 pa-10">พิมพ์ใบเสร็จ เสร็จสิ้น</div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                      <v-btn variant="text" @click="isActive.value = false"
                        >Close</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </template>
              </v-dialog>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="4">
        <v-container>รายละเอียด</v-container>
        <v-divider></v-divider>
        <v-list density="compact" nav>
          <v-list-subheader>รายละเอียด</v-list-subheader>

          <v-divider></v-divider>
          <v-list-item title="Table: ">A1</v-list-item>
          <v-divider></v-divider>
          <v-list-item title="เวลาเข้า: ">12:32 น.</v-list-item>
          <v-divider></v-divider>
          <v-list-item title="เวลาออก: ">13:06 น.</v-list-item>
        </v-list>

        <v-spacer></v-spacer>
      </v-col>
    </v-row>
  </v-container>

  <v-container> </v-container>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-collapse: collapse;
  padding: 15px;
}
</style>
