<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";

const loginStore = useLoginStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid && (await loginStore.login(loginName.value, password.value))) {
    window.location.href = "/table";
  }
};
const reset = () => form.value?.reset();
</script>

<template>
  <div style="display: flex; justify-content: flex-end">
    <v-card width="400px" class="mx-auto my-card" style="margin: 10ch">
      <img
        src="../images/OSC.jpg"
        style="
          max-width: 50%;
          max-height: 50%;
          margin: auto;
          display: block;
          border-radius: 50%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        "
      />
      <v-card-title primary-title class="text-center text-h6 font-weight-bold">
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid">
          <v-text-field
            label="Login Name"
            class="txt-login"
            v-model="loginName"
            :rules="[
              (v) => !!v || 'Login Name is required',
              (v) =>
                v.length >= 4 ||
                'Name must be more thean or equal 4 characters',
            ]"
            required
          ></v-text-field>
          <v-text-field
            label="Password"
            type="Password"
            class="txt-password"
            v-model="password"
            :rules="[
              (v) => !!v || 'Login Name is required',
              (v) =>
                v.length >= 8 ||
                'Password must be more thean or equal 8 characters',
            ]"
            required
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn style="background-color: lightgreen" @click="login">Login</v-btn>
        <v-btn style="background-color: red" @click="reset">Clear</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<style>
.yin-yang {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
</style>
