<script setup lang="ts">
import MenuCard from "@/components/MenuCard.vue";
import axios from "axios";
import { useOrderStore } from "@/stores/order";
import { computed, onMounted, ref } from "vue";
import RouterToView from "./RouterToView.vue";
import type Menu from "@/type/Menu";
const orderStore = useOrderStore();

interface OrderItems {
  id: number;
  qty: number;
  status: string;
  createdAt: string;
  updatedAt: string;
  deletedAt: string | null;
  menu_id: {
    Menu_id: number;
    Menu_name: string;
    Menu_price: number;
    createdAt: string;
    updatedAt: string;
    deletedAt: string | null;
    image: string;
  };
}

interface OrderById {
  id: number;
  Order_date: string;
  Order_total: number;
  createdAt: string;
  updatedAt: string;
  deletedAt: string | null;
  user: {
    id: number;
    login: string;
    role: string;
    salary: number;
    name: string;
    password: string;
    createdAt: string;
    updatedAt: string;
    deletedAt: string | null;
  };
  orderItems: {
    id: number;
    qty: number;
    status: string;
    createdAt: string;
    updatedAt: string;
    deletedAt: string | null;
    menu_id: {
      Menu_id: number;
      Menu_name: string;
      Menu_price: number;
      createdAt: string;
      updatedAt: string;
      deletedAt: string | null;
      image: string;
    };
  }[];
  Table_id: {
    id: number;
    Table_Status: boolean;
  };
}

interface Order {
  id: number;
  Order_date: string;
  Order_total: number;
  createdAt: string;
  updatedAt: string;
  deletedAt: string | null;
  user: {
    id: number;
    login: string;
    role: string;
    salary: number;
    name: string;
    password: string;
    createdAt: string;
    updatedAt: string;
    deletedAt: string | null;
  };
  orderItems: {
    id: number;
    qty: number;
    status: string;
    createdAt: string;
    updatedAt: string;
    deletedAt: string | null;
  }[];
  Table_id: {
    id: number;
    Table_Status: boolean;
    createdAt: string;
    deletedAt: string | null;
  };
}

onMounted(async () => {
  // console.log("HELLL");
  await orderStore.getMenu();
  await fetchOrders();
});

const selected = ref(null);

const orders = ref<Order[]>([]);

const ordersById = ref<OrderById>();

function getMenuImage(id: number) {
  const link = "http://localhost:3000/menu/" + id + "/image";
  return link;
}

async function fetchOrders() {
  try {
    const response = await axios.get(
      `http://localhost:3000/order/list/waiting`
    );
    orders.value = response.data;

    console.log(orders.value[0]);
  } catch (error) {
    console.log(error);
  }
}

async function fetchOrdersItems() {
  try {
    const response = await axios.get(
      `http://localhost:3000/order/${selected.value.id}`
    );
    ordersById.value = response.data;
    console.log(ordersById.value);
  } catch (error) {
    console.log(error);
  }
}

async function orderItemAdd(item: number) {
  await axios.patch(`http://localhost:3000/orderitem/${item}/add`);
  await fetchOrdersItems();
}

async function orderItemDel(item: number) {
  await axios.patch(`http://localhost:3000/orderitem/${item}/del`);
  await fetchOrdersItems();
}

const dialog = ref(false);
const image = ref([] as File[]);
const name = ref("");
const price = ref(0);
const previewUrl = ref(
  "https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg"
);

function onOrderChange() {
  console.log("Selected order:", selected.value);
  if (!selected.value) {
    console.log("no order selected");
  } else {
    fetchOrdersItems();
  }
}
const itemText = (order: Order) =>
  `Order ID: ${order.id}, Table ID: ${order.Table_id.id}`;

function previewImage(event: Event) {
  const input = event.target as HTMLInputElement;
  if (input.files && input.files[0]) {
    const reader = new FileReader();
    reader.onload = (e: ProgressEvent<FileReader>) => {
      previewUrl.value = e.target?.result as string;
    };
    reader.readAsDataURL(input.files[0]);
  }
}

function addItem() {
  const formData = new FormData();
  formData.append("Menu_name", name.value);
  formData.append("Menu_price", `${price.value}`);
  formData.append("file", image.value[0], image.value[0].name);
  axios
    .post("http://localhost:3000/menu", formData, {
      headers: {
        "Content-Type": "multipart/form-data",
      },
    })
    .then(async (response) => {
      await orderStore.getMenu();
      console.log("Item added successfully");
      // Close the dialog
      dialog.value = false;
      // Reset the form fields
      image.value = [] as File[];
      name.value = "";
      price.value = 0;
    })
    .catch((error) => {
      console.error(error);
    });
}

async function confirmOrder() {
  if (!selected.value) {
    console.log("no order selected");
  } else {
    await axios.patch(
      `http://localhost:3000/order/${selected.value.id}/confirm`
    );
    await fetchOrders();
    await fetchOrdersItems();
    window.location.reload();
  }
}

async function cancleOrder() {
  if (!selected.value) {
    console.log("no order selected");
  } else {
    await axios.delete(`http://localhost:3000/order/${selected.value.id}`);
    await fetchOrders();
    await fetchOrdersItems();
  }
}

async function addToOrder(menu: Menu) {
  await orderStore.addMenu(menu, selected.value.id);
  await fetchOrdersItems();
}
</script>
<template>
  <RouterToView></RouterToView>

  <v-container v-if="orderStore.functionChoose === 0">
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>
          <v-row justify="space-between">
            Menu
            <v-btn variant="flat" color="green" prepend-icon="mdi-plus">
              เพิ่ม

              <v-dialog
                v-model="dialog"
                activator="parent"
                max-width="500px"
                width="auto"
              >
                <v-card>
                  <v-card-title>
                    <span class="headline">Add Menu</span>
                  </v-card-title>

                  <v-card-text>
                    <v-file-input
                      label="Image"
                      accept="image/*"
                      v-model="image"
                      @change="previewImage"
                    ></v-file-input>

                    <v-text-field label="Name" v-model="name"></v-text-field>

                    <v-text-field
                      label="Price"
                      v-model="price"
                      type="number"
                    ></v-text-field>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false"
                      >Cancel</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="addItem"
                      >Save</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-btn>
          </v-row>
        </v-container>
        <v-card class="overflow-y-auto" max-height="80vh">
          <v-container>
            <v-row no-gutters>
              <v-col
                v-for="item of orderStore.menu"
                :key="item.Menu_id"
                cols="12"
                sm="4"
              >
                <MenuCard
                  :name="item.Menu_name"
                  :price="`${item.Menu_price}`"
                  :src="getMenuImage(item.Menu_id)"
                  @add-to-order="addToOrder(item)"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-container>
          <v-row>
            <v-col cols="4">รายการที่เลือก</v-col>
            <v-col>
              <v-select
                v-model="selected"
                :items="orders"
                :item-title="itemText"
                item-value="id"
                label="Select an order"
                clearable
                persistent-hint
                return-object
                single-line
                @update:menu="onOrderChange"
              />
            </v-col>
          </v-row>
        </v-container>

        <v-divider></v-divider>
        <v-list density="compact" nav>
          <v-list-subheader>รายการอาหาร</v-list-subheader>
          <v-container>
            <v-row
              no-gutters
              v-for="item of ordersById?.orderItems"
              :key="item.id"
            >
              <v-col>
                <v-avatar
                  :image="getMenuImage(item.menu_id.Menu_id)"
                ></v-avatar>
              </v-col>
              <v-col cols="4">
                <div style="font-size: 12px">{{ item.menu_id.Menu_name }}</div>
                <div style="font-size: 10px; color: #5f9ea0">
                  qty: {{ item.qty }}
                </div>
                <!-- <div style="font-size: 10px; color: #5f9ea0">price/pcs: 50</div> -->
              </v-col>
              <!-- <v-col cols="false">
                <div style="font-size: 12px">200.0</div>
              </v-col> -->
              <v-btn width="5" color="red" @click="orderItemDel(item.id)"
                >-</v-btn
              >
              <v-btn width="5" color="green" @click="orderItemAdd(item.id)"
                >+</v-btn
              >
            </v-row>
          </v-container>

          <!-- <v-list-item title="Totals" value="starred">214</v-list-item> -->
        </v-list>

        <div class="text-xs-center">
          <v-btn width="50%" height="45" color="#36A60C" @click="confirmOrder()"
            >ยืนยันออเดอร์</v-btn
          >
          <v-btn width="50%" height="45" color="#E9330C" @click="cancleOrder()"
            >ยกเลิก</v-btn
          >
        </div>

        <!-- <div class="text-xs-center">
          <v-btn width="168" height="45" color="#36A60C">ยืนยันออเดอร์</v-btn>
          <v-btn width="168" height="45" color="#E9330C">ยกเลิก</v-btn>
        </div> -->
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
