<script setup lang="ts">
import router from "@/router";

function BillPage() {
  router.push("/bill");
}
function StockPage() {
  router.push("/stock");
}
function StatusOrderPage() {
  router.push("/statusorem");
}
function UserAccountPage() {
  router.push("/test-router");
}
function ServedPage() {
  router.push("/served");
}
function OrderPage() {
  router.push("/order");
}
function LoginPage() {
  router.push("/");
}
function TablePage() {
  router.push("/table");
}
</script>

<template>
  <v-navigation-drawer class="my-list">
    <v-divider></v-divider>

    <v-list dense nav>
      <v-list-item-group>
        <v-list-item
          prepend-icon="mdi-table-chair"
          class="my-drawer"
          title="เช็คที่นั่ง"
          value="table"
          @click="TablePage"
          group
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-food"
          class="my-drawer"
          title="สั่งอาหาร"
          value="Order"
          @click="OrderPage"
          group
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-package-variant"
          class="my-drawer"
          title="สต็อก"
          value="Stock"
          @click="StockPage"
          group
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-briefcase-account"
          class="my-drawer"
          title="พนักงาน"
          value="User"
          @click="UserAccountPage"
          group
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-pot-steam"
          class="my-drawer"
          title="สถานะอาหาร(ห้องครัว)"
          value="StatusOrder"
          @click="StatusOrderPage"
          group
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-tray-full"
          class="my-drawer"
          title="เสริฟ"
          value="Served"
          @click="ServedPage"
          group
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-cash-register"
          class="my-drawer"
          title="เช็คบิล"
          value="Bill"
          @click="BillPage"
          group
        ></v-list-item>
      </v-list-item-group>
      <v-divider></v-divider>
      <v-container v-for="n in 14" :key="n"> </v-container>
      <v-list-item
        prepend-icon="mdi-logout"
        class="my-logout"
        title="ออกจากระบบ"
        value="Logout"
        @click="LoginPage"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style>
.my-list {
  background-color: #c94d20; /* set to desired light green color */
}
.my-logout {
  background-color: #da7d7d; /* set to desired light green color */
}
.my-drawer {
  background-color: #fcbc66; /* set to desired light green color */
}
</style>
