<script setup lang="ts">
import { ref } from "vue";
import TheWelcome from "../components/TheWelcome.vue";
import RouterToView from "./RouterToView.vue";
const headers = [
  { text: "รายการอาหาร", value: "name" },
  { text: "โต๊ะ", value: "Table" },
  { text: "สถานะ", value: "status" },
];
const desserts = ref([
  {
    name: "ผัดไทย",
    table: "A1",
    status: "กำลังทำ",
  },
  {
    name: "ข้าวผัด",
    table: "A2",
    status: "กำลังทำ",
  },
  {
    name: "ผัดกระเพรา",
    table: "A3",
    status: "กำลังทำ",
  },
]);

function finish(item: { name: string; table: string; status: string }): void {
  item.status = "เสร็จสิ้น";
}
function remove(index: number): void {
  desserts.value.splice(index, 1);
}
</script>

<template>
  <RouterToView></RouterToView>

  <v-container>
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>สถานะอาหาร(ห้องครัว)</v-container>
        <v-divider></v-divider>
        <v-container>
          <table>
            <tr>
              <th>รายการอาหาร</th>
              <th>โต๊ะ</th>
              <th>สถานะอาหาร</th>
            </tr>
            <tr v-for="(dessert, index) in desserts" :key="index">
              <td>{{ dessert.name }}</td>
              <td>{{ dessert.table }}</td>
              <td>{{ dessert.status }}</td>
              <td>
                <div class="d-flex justify-space-around">
                  <v-btn
                    v-if="dessert.status !== 'เสร็จสิ้น'"
                    variant="flat"
                    color="green"
                    @click="
                      () => {
                        finish(dessert);
                        remove(index);
                      }
                    "
                  >
                    เสร็จสิ้น
                  </v-btn>
                </div>
              </td>
            </tr>
          </table>
        </v-container>
      </v-col>
    </v-row>
  </v-container>

  <v-container> </v-container>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-collapse: collapse;
  padding: 15px;
}
</style>
