<script setup lang="ts">
import { useStockStore } from "@/stores/stock";
import { onMounted } from "vue";
import StockDialog from "./Stock/StockDialog.vue";
import RouterToView from "./RouterToView.vue";
const stockStore = useStockStore();
onMounted(async () => {
  await stockStore.getStocks();
});
const headers = [
  { text: "รายการ", value: "name" },
  { text: "จำนวน", value: "quantity" },
  { text: "", value: "status" },
];
const desserts = [
  {
    name: "ข้าวสาร",
    quantity: "1 กิโล",
    status: "",
  },
];
</script>

<template>
  <RouterToView></RouterToView>

  <v-container>
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>สต็อก </v-container>
        <v-divider></v-divider>
        <v-container>
          <StockDialog></StockDialog>
          <v-btn
            variant="flat"
            color="green"
            prepend-icon="mdi-plus"
            @click="stockStore.dialog = true"
            >เพิ่ม</v-btn
          >
          <v-container></v-container>
          <v-table>
            <thead>
              <tr>
                <th>ID</th>
                <th>รายการ</th>
                <th>จำนวน</th>
                <th>หน่วย</th>
                <th>วันที่เพิ่ม</th>
                <th>วันที่อัพเดท</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of stockStore.stocks" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.createdAt }}</td>
                <td>{{ item.updatedAt }}</td>
                <td>
                  <div class="d-flex justify-space-around">
                    <v-btn
                      icon="mdi-pencil"
                      color="secondary"
                      class="ma-1"
                      @click="stockStore.editStock(item)"
                    >
                    </v-btn>
                    <v-btn
                      icon="mdi-delete"
                      color="error"
                      class="ma-1"
                      @click="stockStore.deleteStock(item.id!)"
                    >
                    </v-btn>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
    </v-row>
  </v-container>

  <v-container> </v-container>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-collapse: collapse;
  padding: 15px;
}
</style>
