<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { onMounted } from "vue";
import RouterToView from "./RouterToView.vue";
const tableStore = useTableStore();
onMounted(async () => {
  await tableStore.getTable();
});
</script>
<template>
  <RouterToView></RouterToView>
  <div>
    <div class="table-list">
      <v-card
        v-for="(tables, index) in tableStore.table"
        :key="index"
        class="table-item"
        :class="{
          selected: tableStore.tableSelected === index,
          booked: tables.Table_Status,
        }"
        @click="tableStore.selectTable(index)"
      >
        Table {{ index + 1 }}
      </v-card>
    </div>
    <div class="buttons">
      <v-btn
        variant="flat"
        size="x-large"
        style="margin-left: 6ch"
        class="yellow"
        @click="tableStore.confirmBooking"
      >
        จองโต๊ะ
      </v-btn>
      <v-btn
        variant="flat"
        size="x-large"
        style="margin-left: 6ch"
        class="red"
        @click="tableStore.cancelTable"
      >
        ยกเลิก
      </v-btn>
      <v-btn
        variant="flat"
        size="x-large"
        style="margin-left: 6ch"
        class="blue"
        @click="tableStore.moveTable"
      >
        ย้ายโต๊ะ
      </v-btn>

      <v-btn
        variant="flat"
        size="x-large"
        style="margin-left: 6ch"
        class="green"
        @click="tableStore.checkBill"
      >
        เช็คบิล
      </v-btn>
    </div>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-ids: center;
  }
}
.table-list {
  display: flex;
  flex-wrap: wrap;
}

.table-item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected {
  background-color: green;
  color: white;
}

.booked {
  background-color: red;
  color: white;
  cursor: default;
}

.buttons {
  margin-top: 10px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: rgba(255, 213, 0, 0.848);
}
.blue {
  background-color: rgba(0, 255, 255, 0.74);
}
.green {
  background-color: rgba(47, 255, 54, 0.56);
}
</style>
