<script setup lang="ts">
import MyID from "@/components/IDCard.vue";
import { useOrderStore } from "@/stores/order";
import { useUserStore } from "@/stores/user";
import { onMounted, ref } from "vue";
import UserView from "./user/UserView.vue";
import { mdiTable, mdiCardOutline } from "@mdi/js";
import type User from "@/type/User";
import { useEmployeeStore } from "@/stores/employee";
import RouterToView from "./RouterToView.vue";
const employeeStore = useEmployeeStore();
const order = useOrderStore();
const userStore = useUserStore();

onMounted(async () => {
  await employeeStore.getEmployee();
});

onMounted(async () => {
  await userStore.getUsers();
});
const deleteUser = async (index: number) => {
  await userStore.deleteUser(index);
};
const addNewUser = () => {
  userStore.dialog = true;
};
const editUser = async (user: User) => {
  await userStore.editUser(user);
};
const headers = [
  { text: "วัน/เดือน/ปี", value: "string" },
  { text: "รายการ", value: "string" },
  { text: "รายรับ", value: "income" },
  { text: "รายจ่าย", value: "expenses" },
  { text: "หมายเหตุ", value: "status" },
];
const desserts = ref([
  {
    date: "12/03/2566",
    name: "หมูบด",
    income: "-",
    expenses: "1000",
    status: "10 โล",
  },
  {
    date: "12/03/2566",
    name: "ใบกระเพรา",
    income: "-",
    expenses: "100",
    status: "2 โล",
  },
]);

function finish(item: {
  date: string;
  name: string;
  income: number;
  expenses: number;
  status: string;
}): void {
  item.status = "เสร็จสิ้น";
}
function remove(index: number): void {
  desserts.value.splice(index, 1);
}
</script>
<template>
  <RouterToView></RouterToView>

  <v-container v-if="order.functionChoose === 2">
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>ข้อมูลพนักงาน</v-container>
        <v-card class="overflow-y-auto" max-height="80vh">
          <v-container>
            <v-row no-gutters>
              <v-col v-for="n in 10" :key="n" cols="12" sm="4">
                <MyID
                  name="ประยุทธ จันทร์อังคารลา"
                  src="https://thaipbs-world.s3.ap-southeast-1.amazonaws.com/thaipbsworld/wp-content/uploads/2019/12/29110958/Thailand-Prayut-Chan-ocha-Twitter-900x540.jpg"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-container>List</v-container>
        <v-divider></v-divider>
        <v-list density="compact" nav>
          <v-list-subheader>List</v-list-subheader>
          <v-container>
            <v-row no-gutters>
              <v-avatar
                image="https://thaipbs-world.s3.ap-southeast-1.amazonaws.com/thaipbsworld/wp-content/uploads/2019/12/29110958/Thailand-Prayut-Chan-ocha-Twitter-900x540.jpg"
              ></v-avatar>

              <v-spacer>
                <v-col>
                  <div style="font-size: 15px">นาย ประยุทธ จันทร์อังคารลา</div>
                  <div style="font-size: 13px; color: #5f9ea0">
                    Mr. Prayut Junaungkanla
                  </div>
                </v-col>
              </v-spacer>
            </v-row>
          </v-container>

          <v-divider></v-divider>
          <v-list-item title="ตำแหน่ง" value="starred">ผู้บริหาร</v-list-item>
          <v-divider></v-divider>
          <v-list-item title="เงินเดือน" value="starred"
            >100,000,000</v-list-item
          >
          <v-divider></v-divider>
          <v-spacer></v-spacer>
          <div>
            <v-spacer></v-spacer>
            <v-btn variant="flat" color="yellow"> แก้ไข </v-btn>
            <v-btn variant="flat" color="red"> ลบ </v-btn>
          </div>
        </v-list>
        <v-spacer></v-spacer>
      </v-col>
    </v-row>
  </v-container>

  <v-container v-if="order.functionChoose === 1">
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>การเงิน</v-container>

        <v-divider></v-divider>
        <v-container>
          <v-btn variant="flat" color="green">เพิ่ม</v-btn> </v-container
        ><v-container>
          <v-table>
            <thead>
              <tr>
                <th>วัน/เดือน/ปี</th>
                <th>รายการ</th>
                <th>รายรับ</th>
                <th>รายจ่าย</th>
                <th>หมายเหตุ</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(dessert, index) in desserts" :key="index">
                <td>{{ dessert.date }}</td>
                <td>{{ dessert.name }}</td>
                <td>{{ dessert.income }}</td>
                <td>{{ dessert.expenses }}</td>
                <td>{{ dessert.status }}</td>
                <td>
                  <div class="d-flex justify-space-around">
                    <v-btn variant="flat" color="yellow"> แก้ไข </v-btn>
                    <v-btn
                      v-if="dessert.status !== 'ลบ'"
                      variant="flat"
                      color="red"
                      @click="
                        () => {
                          remove(index);
                        }
                      "
                    >
                      ลบ
                    </v-btn>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
      <v-col cols="4">
        <v-container>สรุป</v-container>
        <v-divider></v-divider>
        <v-list density="compact" nav>
          <v-list-subheader>ข้อมูลรายรับรายจ่าย</v-list-subheader>
          <v-container>
            <v-row no-gutters>
              <v-spacer>
                <v-col>
                  <v-table>
                    <thead>
                      <tr>
                        <th>รวมรายรับ</th>
                        <th>รวมรายจ่าย</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0</td>
                        <td>1100</td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-col>
              </v-spacer>
            </v-row>
          </v-container>
        </v-list>
        <v-spacer></v-spacer>
      </v-col>
    </v-row>
  </v-container>

  <v-container v-if="order.functionChoose === 0">
    <v-container>พนักงาน</v-container>
    <v-divider></v-divider>
    <UserView></UserView>
  </v-container>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
