<template>
  <v-select
    v-model="selectedOrder"
    :items="orders"
    item-text="Table_id"
    item-value="id"
    label="Select an order"
  ></v-select>
</template>

<script setup lang="ts">
import axios from "axios";
import { onMounted, ref } from "vue";

interface Order {
  id: number;
  Order_date: string;
  Order_total: number;
  createdAt: string;
  updatedAt: string;
  deletedAt: string | null;
  user: {
    id: number;
    login: string;
    role: string;
    salary: number;
    name: string;
    password: string;
    createdAt: string;
    updatedAt: string;
    deletedAt: string | null;
  };
  orderItems: {
    id: number;
    qty: number;
    status: string;
    createdAt: string;
    updatedAt: string;
    deletedAt: string | null;
  }[];
  Table_id: {
    id: number;
    Table_Status: boolean;
    createdAt: string;
    deletedAt: string | null;
  };
}

const orders = ref<Order[]>([]);
const selectedOrder = ref<Order | null>(null);

onMounted(async () => {
  try {
    const response = await axios.get("http://localhost:3000/order");
    orders.value.push(...response.data);
  } catch (error) {
    console.log("Error:", error);
  }
});
</script>
