<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/type/User";
import { onMounted } from "vue";

const userStore = useUserStore();
onMounted(async () => {
  await userStore.getUsers();
});
const deleteUser = async (index: number) => {
  await userStore.deleteUser(index);
};
const addNewUser = () => {
  userStore.dialog = true;
};
const editUser = async (user: User) => {
  await userStore.editUser(user);
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="3">
        <v-btn
          variant="flat"
          color="green"
          prepend-icon="mdi-plus"
          @click="addNewUser"
          >เพิ่ม</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>ขื่อนามสกุล</th>
              <th>ตำแหน่งงาน</th>
              <th>เงินเดือน</th>
              <th>Username</th>
              <th>password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.salary }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.password }}</td>
              <td>
                <v-btn
                  icon="mdi-pencil"
                  color="secondary"
                  class="ma-1"
                  @click="editUser(item)"
                ></v-btn>
                <v-btn
                  icon="mdi-delete"
                  color="error"
                  class="ma-1"
                  @click="deleteUser(item.id)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
