<script setup lang="ts">
// import { RouterLink, RouterView } from "vue-router";
// import HelloWorld from "./components/HelloWorld.vue";
import { ref } from "vue";

import OrderView from "./views/OrderView.vue";

const theme = ref("light");
</script>

<template>
  <v-app class="my-drawer">
    <v-app-bar color="#442c3f">
      <v-menu>
        <template v-slot:activator="{ props }">
          <v-btn color="white" v-bind="props"> ร้านอาหาร </v-btn>
        </template>
      </v-menu>
      <v-spacer></v-spacer>

      <v-list class="appbar">
        <v-list-item
          prepend-avatar="https://f.ptcdn.info/390/078/000/rhuafdfblz6q62H1ZnDu-o.jpg"
          title="Prayut C."
          subtitle="info@onesoftware.co"
          width="240"
          style="color: aliceblue"
        ></v-list-item>
      </v-list>
    </v-app-bar>

    <v-main>
      <RouterView />
    </v-main>
  </v-app>
</template>

<style scoped>
.appbar {
  background-color: #442c3f; /* set to desired light green color */
}
.my-drawer {
  background-color: #8dc6bf; /* set to desired light green color */
}
</style>
