<script setup lang="ts">
import { useStockStore } from "@/stores/stock";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const stockStore = useStockStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await stockStore.saveStocks();
  }
}
</script>
<template>
  <v-dialog v-model="stockStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Add Stock</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อ*"
                  required
                  v-model="stockStore.editedStock.name"
                  :rules="[
                    (v) => !!v || 'กรุณาใส่ชื่อ',
                    (v) => v.length > 3 || 'ตัวอักษรต้องไม่น้อยกว่า 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="จำนวน*"
                  required
                  v-model="stockStore.editedStock.qty"
                  :rules="[(v) => !!v || 'กรุณาใส่จำนวน']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="หน่วย*"
                  required
                  v-model="stockStore.editedStock.unit"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="stockStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
